<div class="row" id="chat-box">

    <!-- Area Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">채팅목록</h6>
<!--                <button class="btn btn-sm float-right" id="refreshChatList" type="button">🔄</button>-->
            </div>
            <!-- Card Body -->
            <div class="card-body chat-body" id="chatListBox">

            </div>
            <div class="card-header"></div>
        </div>
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary" id="chat-title">채팅</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body chat-body" id="chatHistoryBox">
                <span> </span>

            </div>
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <input class="no-border " type="text" name="chatSendInput" id="chatSendInput" placeholder="메세지 보내기" autoComplete="off"/>
                <button class="btn btn-secondary btn-sm float-right" id="sendChatBtn" type="button">보내기</button>
            </div>

        </div>
    </div>
</div>
