<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
                <!-- Nested Row within Card Body -->
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">로그인</h1>
                            </div>
                            <form class="user">
                                <div class="form-group">
                                    <input type="email" name="user_id" class="form-control form-control-user" id="emailInput" aria-describedby="emailHelp" placeholder="이메일">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" class="form-control form-control-user" id="passwordInput" placeholder="비밀번호">
                                    <span class="error-message" id="loginErr"></span>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox small">
                                        <input type="checkbox" class="custom-control-input" id="customCheck">
                                        <label class="custom-control-label" for="customCheck">자동 로그인</label>
                                    </div>
                                </div>
                                <a type="button" class="btn btn-primary btn-user btn-block" id="loginBtn">
                                    로그인
                                </a>
<!--                                <hr>-->
<!--                                <a href="/" class="btn btn-google btn-user btn-block">-->
<!--                                    <i class="fab fa-google fa-fw"></i> 구글로 로그인하기-->
<!--                                </a>-->
<!--                                <a href="/" class="btn btn-facebook btn-user btn-block">-->
<!--                                    <i class="fab fa-facebook-f fa-fw"></i> 페이스북으로 로그인하기-->
<!--                                </a>-->
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/forgot-password">패스워드 찾기</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/register">계정 생성하기</a>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>