.no-border{
    border : none;
    border-right:0;
    border-top:0;
    boder-left:0;
    boder-bottom:0;
    margin: 0;
    padding:5px 5px 5px;
}
.no-border:focus{
    outline: none;
}
textarea.no-border#content{
    resize: none;
    width:100%;
    min-height: 350px;
    max-height: 500px;
}

input.no-border#title{
    width:100%;
    min-height: 35px;
    max-height: 50px;
    font-size: 20px;
    font-weight: bold;
}
input.no-border#title::placeholder{
    font-size: 20px;
    font-weight: bold;
}

.error-message{
    color: red;
    font-size: 11px;
}

.o-hidden {
    overflow: hidden!important;
    width: 750px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.col-lg-6 {
    flex: 0 0 50% !important;
    max-width: 100% !important;
}

a#loginBtn{
 color: white;
}

a#logo {
    text-decoration: none;
    font-weight: 400;
    padding: 7px;
    /*color: #fff;*/
    /*background-color: #4e73df;*/
    /*border-color: #4e73df;*/
}
.menu span {
    font-size: 20px;
    font-weight: bold;
    color: #000000 !important;
}

.img-profile{
    margin: 5px !important;
}

.container-fluid#body_container{
    padding: 5px 180px;
}
.table td, .table th {
    padding: .3rem !important;
    text-align: left;
}