body{
    zoom: 90%;
}
.no-border{
    border : none;
    border-right:0;
    border-top:0;
    boder-left:0;
    boder-bottom:0;
    margin: 0;
    padding:5px 5px 5px;
}
.no-border:focus{
    outline: none;
}
/*bulletin/write*/
textarea.no-border#content{
    resize: none;
    width:100%;
    min-height: 350px;
    max-height: 500px;
}

input.no-border#title{
    width:100%;
    min-height: 35px;
    max-height: 50px;
    font-size: 20px;
    font-weight: bold;
}
input.no-border#title::placeholder{
    font-size: 20px;
    font-weight: bold;
}

/*auth*/
.error-message{
    color: red;
    font-size: 11px;
}

.o-hidden {
    overflow: hidden!important;
    width: 750px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

.col-lg-6 {
    flex: 0 0 50% !important;
    max-width: 100% !important;
}

a#loginBtn{
 color: white;
}

a#logo {
    text-decoration: none;
    font-weight: bold;
    padding: 7px;
    /*color: #fff;*/
    /*background-color: #4e73df;*/
    /*border-color: #4e73df;*/
}
.menu span {
    font-size: 20px;
    font-weight: bold;
    color: #000000 !important;
}

.img-profile{
    margin: 5px !important;
}

.container-fluid#body_container{
    padding: 5px 125px;
}
.table td, .table th {
    padding: .3rem !important;
    text-align: left;
}
/*bulletin/inner*/
#likeBtn:hover{
    cursor:pointer;
}
.card-body#bulletinList{
    padding: 0.5rem;
}

.item-pull-right-on-block{
    margin-left:auto;
    margin-right: 0;
}
.item-set-center{
    margin-left:auto;
    margin-right:auto;
}
textarea.no-border#reply-content{
    resize: none;
    width:100%;
    min-height: 100px;
    max-height: 100px;
}
textarea.no-border#re-reply-content{
    resize: none;
    width:100%;
    min-height: 60px;
    max-height: 60px;
}
.hide-card{
    display: none !important;
}
.show-card{
    display: block !important;
}
.reply{
    margin-left: 100px;
}
/*user/edit*/
.input-title{
    color: #2d2e33;
    font-weight: bold;
    margin-left: 15px !important;
}
.edit-image{
    height: 200px;
    width: 200px;
    right: 0;
    left: 0;
    margin: auto auto 10px;
}
#imageFileOpenInput{
    margin-left: auto;
    margin-right: auto;
    width: 12em;
}

/*chat/home*/
#chat-box{
    min-height: 550px;
    max-height: 550px;
}
.chat-body{
    min-height: 500px;
    max-height: 500px;
    overflow: auto;
}
.chat-history{
    margin-bottom: 10px;
}
.chat-room-list{
    margin-bottom: 20px;
    margin-top: 5px;
    cursor: pointer;
}
input#chatSendInput{
    width: 700px;
    padding: 0.1rem;
}
